{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <p>
        HOBBIT is a European project that develops a holistic open-source platform and industry-grade benchmarks for benchmarking big linked data.
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="{{ h.url_for_static('/base/images/hobbit-logo-with-title-420w.png') }}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
